<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>动态显示</title>
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
</head>
<body>
<h1>案例二</h1>
    <div id="bar" style="width:1000px; height:600px;"></div>
    <script>
<!--设置每次节点请求的时间-->
        var chart = echarts.init(document.getElementById('bar'), 'white', {renderer: 'canvas'});
        $(
            function () {
                fetchData(chart);
                setInterval(fetchData,5000);
            }
        );
<!--请求的位置 url：请求的位置;dataType：请求的数据类型;-->
        function fetchData() {
            $.ajax({
                type: "GET",
                url: "http://127.0.0.1:5000/data",
                dataType: 'json',
                success: function (result) {
                    chart.setOption(result);
                }
            });
        }
    </script>
</body>
</html>